<div class="row">
  <div class="col-3">
    <product-filter [category]="category"></product-filter>
  </div>

  <div class="col">
      <div class="row">
          <ng-container *ngFor="let p of filterProducts; let i = index">
              <div class="col">
                  <div  class="card">
                      <img class="card-img-top" [src]="p.value.imageUrl" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">{{p.value.title}}</h5>
                        <p class="card-text">{{p.value.price | currency:'USD':'symbol'}}</p>
                        
                      </div>
                      <div class="card-footer">
                          <button 
                            (click)="addToCart(p)"
                            class="btn btn-primary btn-block" >Add to cart</button>
                      </div>
                    </div>
              </div>
              <div class="w-100" *ngIf="(i+1)%2 == 0"></div>
          </ng-container>
        
        </div>
  </div>
</div>




